
.gradle/
build/

.idea/

run/

# Java / JVM
*.class
*.jar
*.war
*.ear

# Keep IDE files but ignore workspace and local settings
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/**/dictionaries

gradlew
gradlew.bat